<br>
<div id="content">
<div id="tt">
<div class="card" style="width: 30rem;">
    <div class="card-header">
        <h3>Detalle de Mantenimiento</h3>
    </div>
    <div class="card-body">
        <div>
            <table>
                <tr>
                    <td><b>Id:</b></td>
                    <td>{{mantenimiento.id}}</td>
                </tr>
                <tr>
                    <td><b>Marca:</b></td>
                    <td>{{mantenimiento.marca}}</td>
                </tr>
                <tr>
                    <td><b>Modelo:</b></td>
                    <td>{{mantenimiento.modelo}}</td>
                </tr>
                <tr>
                    <td><b>Año de Fabricación:</b></td>
                    <td>{{mantenimiento.anoFabricacion}}</td>
                </tr>
                <tr>
                    <td><b>Fecha Mantenimiento:</b></td>
                    <td>{{mantenimiento.fechaMantenimiento}}</td>
                </tr>
                <tr>
                    <td><b>Monto:</b></td>
                    <td>{{mantenimiento.monto}}</td>
                </tr>
                <tr>
                    <td><b>Kilometraje:</b></td>
                    <td>{{mantenimiento.kilometraje}}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
</div>
<br>